strong{
    font-weight: bold;
}
body{
    color: black;
    background-color: #fff;
    font-family: "Lora", serif;
}
a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
/*.pf_dark{
    background-color: black;
    color: #fff;
    a{
        background-color: #fff;
        border-color: #fff !important;

    }
    .active{
        color: #fff;
        border-color: #fff !important;
    }
}*/